.Header {
  color: white;
  //background-color: #039BE5;
  background-color: $background-color;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-Info {
    width: 100%;
    max-width: 1600px;
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  };
  &-Title {
    font-size: 24px;
  };
  &-UserName {
    font-size: 14px;
  margin-right: 20px;
  };
}